// Variables
@import "variables";
// Responsive
@import "responsive";
@import "admin";
@import "~lightbox2/src/css/lightbox.css";

html {
  body {
    font-size: $font-size-base;
    font-family: $font-family-base;

    h1, h2, h3, h4, h5, h6 {
      font-family: $font-family-header;
    }

    div, span, p, a {
      font-size: 1rem;
      line-height: 2rem;
    }

    .btn-primary {
      background-color: $brand-primary;
      border-color: $brand-primary;

      &:hover {
        background-color: darken($brand-primary, 5%);
        border-color: $brand-primary;
      }

      &:active:not(:disabled):not(.disabled) {
        background-color: darken($brand-primary, 10%);
        border-color: $brand-primary;
        box-shadow: 0 0 0 0.2rem rgba(181, 0, 25, 0.5);

        &:focus {
          box-shadow: 0 0 0 0.2rem rgba(181, 0, 25, 0.5);
        }
      }

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(181, 0, 25, 0.5);
      }
    }

    #main_app {
      position: relative;
      overflow: hidden;

      .hover-pointer {
        &:hover {
          cursor: pointer;
        }
      }

      header {
        margin-bottom: 30px;

        .fundraiser {
          background-color: $brand-secondary;
          text-align: center;
          padding: 10px;
          font-size: 1.2rem;

          .fa {
            font-size: 1.2rem;
          }

          .fundraiser-text {
            color: white;
            margin-right: 10px;
            font-size: 1.2rem;
          }

          .fundraiser-text, .fundraiser-link {
            display: inline-block;
          }

          .fundraiser-link {
            @media #{$mobile} {
              margin-top: 10px;
            }
          }
        }

        .main-menu-container {
          background-color: $brand-primary;

          .navbar-brand {
            color: white;
            padding: 20px 0;
            background-color: transparent;
            border: none;
            box-shadow: none;

            @media #{$small} {
              display: none;
            }

            @media #{$mobile} {
              padding-left: 10px;
            }
          }

          .navbar {
            padding: 0;

            @media #{$mobile} {
              width: 100%;
            }

            .navbar-toggler {
              background-color: white;
              color: $brand-primary;
              padding: 10px 20px;
              margin-left: 35px;
              position: absolute;
              right: 27px;
              top: -57px;
            }

            .navbar-collapse {
              @media #{$mobile} {
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 25;
              }
            }

            .nav {

              .nav-item {
                margin-right: 0;
                margin-left: 0;

                @media #{$mobile} {
                  width: 100%;
                  background-color: $brand-primary;
                  border-top: 1px solid black;
                }

                .nav-link {
                  font-size: 1rem;
                  text-transform: uppercase;
                  color: white;
                  padding: 1.3rem .5rem;

                  @media #{$normal} {
                    font-size: .9rem;
                  }

                  @media #{$small} {
                    font-size: .8rem;
                  }

                  &.router-link-exact-active {
                    font-weight: bold;
                  }

                  @media #{$mobile} {
                    text-align: center;
                  }

                  &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                  }

                  span {
                    font-size: inherit;
                  }
                }

                .dropdown-menu {
                  border-color: $brand-primary;

                  .dropdown-item {
                    outline: none !important;

                    &:active, &:hover {
                      background-color: $brand-primary;

                      .nav-link {
                        color: white;
                      }
                    }

                    .nav-link {
                      color: $brand-primary;
                      padding: 0;

                      &:hover {
                        background-color: transparent;
                      }
                    }
                  }

                }
              }
            }
          }
        }
      }

      footer {
        background-color: $brand-secondary;
        color: white;

        .social-links {
          text-align: center;

          .fa {
            color: white;
            font-size: 1.8rem;

            &:hover {
              opacity: 0.8;
            }
          }
        }

        .info-bar {
          text-align: center;
          color: white;
          border-top: 5px solid #a51e36;

          a {
            color: white;

            &:hover {
              opacity: 0.8;
            }
          }

          .better-niagara {
            margin: auto;
            display: inline-block;
            padding: 18px;

            @media #{$mobile} {
              padding: 18px 5px;
            }

            .better-niagara-logo {
              background-image: url('/images/better-niagara.jpg');
              background-size: cover;
              width: 57px;
              height: 57px;
              float: left;
            }

            span {
              margin-top: 15px;
              display: inline-block;
              padding-left: 15px;

              @media #{$mobile} {
                font-size: .9rem;
              }
            }
          }

        }
      }

      .main-area {
        min-height: 792px;

        @media #{$mobile} {
          min-height: 300px;
        }

        @media #{$gtWide} {
          min-height: 991px;
        }

        &.medium {
          min-height: 420px;

          @media #{$gtWide} {
            min-height: 810px;
          }
        }

        .page-title {
          font-size: 3rem;
        }

        .alesco-logo {
          width: 100%;
        }
      }

      .page-content {
        z-index: 2;
        position: relative;

        h1 {
          @media #{$mobile} {
            font-size: 2.2rem;
          }
        }

        &.left-bar {
          border-left: 3px solid black;
          padding-left: 1.3rem;
        }
      }
    }

  }
}